# Ignore ETL Character Database files
unpack.py
euc_co59.dat

# Ignore virtual environment
venv/*

# Ignore script output
extracted/*
extracted_hiragana/*
clean_hiragana/*
unified_hiragana/*

# Ignore python cache
__pycache__/*

